[DEFAULT]
DebugMode = False
ItemLimit = 3
UserAgent = Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/72.0.3626.109 Safari/537.36
DynamicContent = False
lastrunformat = %%Y-%%m-%%d %%H:%%M:%%S
ModmailArchiveTitle = Your submission was removed from /r/SUBREDDIT
